{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h5>Details</h5>
    <div class="card" style="width: 18rem;">
      {% if movie.actor_image %}
        <img style="width:16rem;" src="{{movie.actor_image.url}}" alt="영화이미지"></li>
      {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{movie.title}}</h5>
        <p class="card-text">{{movie.description}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Audience:{{movie.audience}}</li>
        <li class="list-group-item">Release Dates:{{movie.release_date}}</li>
        <li class="list-group-item">Genre:{{movie.genre}}</li>
        <li class="list-group-item">Score:{{movie.score}}</li>
        <li class="list-group-item">작성자:{{movie.user.username}}</li>
      </ul>
      <div class="card-body">
        <a href="{% url 'movies:update' movie.pk %}" class="card-link">edit</a>
        <a href="{% url 'movies:delete' movie.pk %}" class="card-link">delete</a>
      </div>
    </div>
    <h4>comments</h4>
    <form action="{% url 'movies:comments_create' movie.pk %}" method="POST">
      {% csrf_token %}
      {{comment_form}}
      <input class="btn btn-warning" type="submit" value="작성">
    </form>
    {% for comment in comments %}
    {{comment.content}} - 작성자 : {{comment.user.username}}
    <form action="{% url 'movies:comments_delete' movie.pk comment.pk %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="삭제" class="btn btn-warning">
    </form>
    {% endfor %}
    <a href="{% url 'movies:index' %}">목록으로 돌아가기</a>
  </div>
{% endblock content %}

