{% extends 'base.html' %}

{% block content %}
    <h3 class="page-desc">Now playing</h3>
    <div class="movie-card-container">
        {% for movie in movies  %}
            <div class="card" style="width: 18rem;">
                <a href="{% url 'movies:get_detail' movie.movie_id %}"><img src="{{movie.poster_path}}" class="card-img-top" alt="영화포스터"></a>
                <div class="card-body">
                    <h5 class="card-title">{{movie.title}}</h5>
                    <div class="overview-container">
                        <p class="card-text card-text-collapsed">{{movie.overview|slice:55}}
                            <span class="card-text-full">{{movie.overview}}</span>
                            <button class="btn btn-link overview-toggle">더보기</button>
                        </p>
                    </div>
                    <a href="#" class="btn btn-primary">리뷰쓰러가기</a>
                </div>
            </div>
        {% endfor %}
    </div>
    
{% endblock content %}