* {
    font-family: 'Gowun Batang', serif;
}

a {
    text-decoration: none;
}

.container{
    margin: 0px auto;
    /* display: flex;
    justify-content: center;
    text-align: center; */
}

.header-img {
    width: 1300px;
    height: 300px;
    margin: 20px auto;
    background-image: url(/static/img/header.jpg);
    background-size: contain;
    border-radius: 5%;
}

.my-button {
    background-color: azure;
}

.movie-info-container {
    display:flex;
}

.movie-info-container .poster-img {
    width: 300px;
    height: 400px;
    margin: 0px 20px 0px 0px;
}

.page-desc {
    text-align: center;
    margin: 0px 0px 10px 0px;
}