* {
    font-family: 'Do Hyeon', sans-serif;
}

body {
    background-color: rgb(241, 241, 241);
}

a {
    text-decoration: none;
}

.container{
    margin: 0px auto;
    /* display: flex;
    justify-content: center;
    text-align: center; */
}

.header-img {
    width: 100%;
    height: 300px;
    margin: 0px 0px 20px 0px;
    background-image: url(/static/img/header.jpg);
    background-size: contain;
}

.my-button {
    background-color: azure;
}

/* .movie-info-container {
    display:flex;
}

.movie-info-container .poster-img {
    width: 300px;
    height: 400px;
    margin: 0px 20px 0px 0px;
} */

.page-desc {
    text-align: center;
    margin: 0px 0px 10px 0px;
}

.movie-card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card:hover {
    border-color: lightcoral;
    border: 4px double white;
}

.card {
    margin: 10px 10px;
}

.card-text-collapsed .card-text-full {
    display: inline;
    display: none;
}

.overview-toggle {
    display: inline;
}

.nav-color {
    margin: 0px 0px 0px 0px;
    padding: 0px 30px;
    background-color: white;
    height: 200px;
}